<a
  href="https://newsletter.shortruby.com"
  aria-describedby="short-ruby-newsletter"
  class="relative flex flex-col p-6 pt-16 bg-white border border-gray-200 rounded-lg group lg:px-8 lg:pt-8 xl:px-14 hover:bg-blue-200"
  title="Visit Short Ruby Newsletter to stay up to date with what's happening in the Ruby community"
>
  <span class="absolute top-0 right-0 flex w-5 h-5 -mt-2 -mr-2 opacity-0 group-hover:opacity-100">
    <span class="absolute inline-flex w-full h-full rounded-full opacity-75 animate-ping bg-sky-400"></span>
    <span class="relative inline-flex w-5 h-5 rounded-full bg-sky-500"></span>
  </span>
  <h3 id="short-ruby-newsletter" class="h-16 text-4xl font-semibold leading-7 text-gray-900">Short Ruby Newsletter</h3>
  <p class="items-baseline flex-grow mt-6 gap-x-1">
    A Monday morning summary of the articles, discussions, and news from the Ruby community. I watch a series of places like Twitter, ruby.social, Reddit, Linkedin, Dev.to, Ruby LibHunt, and other news sources.
  </p>
  <span class="block px-3 py-2 mt-10 font-bold leading-6 text-center text-md">Read</span>
</a>