<div class="mb-16 bg-white">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="flow-root ">
      <div class="grid max-w-sm grid-cols-1 isolate gap-y-16 gap-x-6 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 xl:-mx-4">
        <%= render partial: "homepage/projects/newsletter" %>
        <%= render partial: "homepage/projects/ruby_on_rails_info" %>
        <%= render partial: "homepage/projects/email_courses" %>
        <%= render partial: "homepage/projects/videos" %>
      </div>
    </div>
  </div>
</div>
