<div class="relative overflow-hidden isolate bg-gradient-to-b from-indigo-100/20 pt-14">
  <div class="px-6 py-20 mx-auto max-w-7xl sm:py-28 lg:px-8">
    <div class="max-w-2xl mx-auto">
      <div class="flex flex-col items-start">
        <%= image_tag "logo.png", class: "w-20 h-20 mb-4 rounded-full", alt: "Short Ruby Logo" %>
        <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">Community, learning, building</h1>
      </div>
      <div class="max-w-xl mt-8 lg:mt-6 xl:col-end-1 xl:row-start-1">
        <p class="text-lg leading-8 text-gray-600">Short Ruby mission is to support community creators and to grow Ruby adoption through education and mentorship</p>
      </div>
    </div>
  </div>
</div>
