---
title: ShortRuby - Main website terms of use
layout: main
---
<div class="mx-auto max-w-4xl">
  <%= render LinkComponent.new(url: root_path) do %>
    <span class="inline-flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
      </svg>
      Back to website
    </span>
  <% end %>
</div>

<div class="bg-white px-5 mt-5">
  <div class="max-w-4xl mx-auto">
    <div class="prose prose-lg text-justify">
      <h2>Terms of use</h2>
      <p>
        Welcome to our website. These Terms of Use govern your access to and use of the website owned by
        Marian-Lucian Ghinda. By accessing or using this website, you agree to these terms.
      </p>

      <p>
        <strong>Accuracy of Information: </strong> <br>
        While Marian-Lucian Ghinda endeavors to provide accurate and up-to-date information on this website,
        no warranty or representation is made regarding its completeness, accuracy, or timeliness.
        Marian-Lucian Ghinda and any associated businesses disclaim liability for errors or omissions in the website content.
      </p>
      <p>
        <strong>External Links: </strong> <br>
        This website may contain links to external sites, over which we have no control.
        Marian-Lucian Ghinda and the businesses he represents are not responsible for the content of any linked external sites.
        Use of any such linked website is at the user's own risk.
      </p>
      <p>
        <strong>Right to Modify Content:</strong> <br>
         Marian-Lucian Ghinda reserves the right to change, modify, or remove contents of this website at any time without prior notice.
      </p>
      <p>
        <strong>Privacy Policy:</strong> <br>
        Marian-Lucian Ghinda respects your privacy. Any personal information you provide to us including and similar
        to your name, address, telephone number, and e-mail address will not be released, sold, or rented to
        any entities or individuals outside of Marian-Lucian Ghinda or the businesses he owns and represents.
      </p>
      <p>
        <strong>Intellectual Property Rights:</strong> <br>
        The content on this website, including text, graphics, and images, is protected by copyright and is the
        property of Marian-Lucian Ghinda or the businesses he represents.
        You are granted a limited license to store and duplicate text content for personal use.
        However, the reproduction of graphics, images, or any other copyrighted material is strictly prohibited
        unless expressly permitted in writing by Marian-Lucian Ghinda.
      </p>
      <p>
        <strong>Limitation of Liability: </strong> <br>
        Neither Marian-Lucian Ghinda nor any associated businesses shall be liable for any direct, indirect,
        incidental, consequential, or punitive damages arising out of access to or use of content on this website,
        including without limitation, damages for loss of profits, goodwill, use, data, or other intangible losses.
      </p>

      <p>
        <strong>Disclaimer for Warranties:</strong> <br>
        This website and all information, content, materials, products, and services included on or otherwise made
        available to you through this website are provided by Marian-Lucian Ghinda and any associated businesses on an
        "as is" and "as available" basis, unless otherwise specified in writing. Marian-Lucian Ghinda makes no
        representations or warranties of any kind, express or implied, as to the operation of this website or the
        information, content, materials, products, or services included on or otherwise made available to you through
        this website, unless otherwise specified in writing. You expressly agree that your use of this website is at
        your sole risk.
      </p>
      <p>
        <strong>Indemnification Clause</strong> <br>
        You agree to indemnify, defend, and hold harmless Marian-Lucian Ghinda and his affiliates, officers, agents,
        partners, and employees from any claim or demand, including reasonable attorneys' fees, made by any third party
        due to or arising out of your use of this website, your violation of these Terms of Use, or your violation of
        any rights of another party. This indemnification obligation will survive the termination of these Terms of Use
        and your use of the website.
      </p>
    </div>
  </div>
</div>
