<!DOCTYPE html>
<html class="h-full antialiased bg-white" lang="en">
  <head>
    <meta charset='utf-8'>
    <title><%= current_page.data.fetch("title", "Sitepress") %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="flex flex-col min-h-full">
    <main class="flex-auto">
      <%= yield %>
    </main>
  </body>
</html>
