---
<div class="container mx-auto">
  <div class="max-w-4xl mx-auto bg-white sm:py-12 lg:py-12">
    <h2 class="my-5 text-4xl font-bold tracking-tight text-center text-blue-800 sm:block">Authenticated</h2>
  </div>
</div>
