<footer class="flex flex-col">
  <section class="container relative items-center px-5 mx-auto mt-10 mb-10">
    <div class="mx-auto max-w-7xl">
      &copy; 2023 <a href="https://shortruby.com">ShortRuby.com</a>
      <p>
        A project built by <a href="https://allaboutcoding.ghinda.com" class="text-blue-600 hover:text-blue-500">Lucian Ghinda</a>
      </p>
    </div>
  </section>
</footer>
