<footer class="flex flex-col">
  <section class="container relative items-center px-5 mx-auto mt-10 mb-10">
    <div class="mx-auto max-w-7xl">
      <a href="https://shortruby.com">Short Ruby 2023 &copy;</a>
    </div>
  </section>
</footer>
